<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/dist/styles.min.css")
        title Document
    body
        section(class="wrapper")
            header(class="header") HEADER
            section(class="main") SECTION
            footer(class="footer") FOOTER


        script(src="js/dist/main.min.js")